fastapi
uvicorn
python-multipart
pydantic
psycopg2-binary
sqlalchemy
passlib
python-jose
pyjwt
sentence-transformers
python-dotenv
torch
numpy
pdfplumber
groq
transformers
datasets
accelerate
librosa
soundfile
TTS
speechrecognition
pyaudio
pydub